<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Id Da Mylae</title>
        <link rel="stylesheet" href="mylae.css">
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/recommendations">Recommendations</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
        
        <div class="header">
        <h1>Ataraxia</h1>
        </div>

        <div class="firstbox">
            <div class="card">
                <h2>Departure</h2>
                <h5>Blog Post 1, 04 February 2020</h5>
                <div class="blogimg">
                    <img src="imgs/jrpg.PNG" alt="Guardian's Crusade Cave">
                </div>
                <p>Growing up I played quite a lot of JRPGs, one of the first being Guardian's Crusade. There's usually a calmness in the beginning for a lot of these games, exploring grasslands before a cave or like in Golden Sun before the storm. 
                  Here, I am exploring around but I know soon I will have to go into this dark cave. Not knowing where it will lead or what's inside, but I'll come out the other side stronger for it. It's exciting and it get's a little scary
                  as imposter syndrome sets in. Eventually though I'm waiting for that moment where things just click and everything starts to make sense to me. As long as I can get through that phase, I'll start to feel much more comfortable.</p>

                <p>P.S. - If you like old school jrpg's, and never played Guardian's Crusade (screen shot), load up an emulator and give it a go. It's a great game!</p>
            </div>
        </div>
      

        <div class="socnavbar">
            <ul>
                <li><a href="https://twitter.com/ClintonHerndon3" target="_blank" rel="noopener">Twitter</a></li>
                <li><a href="https://codepen.io/herndonc" target="_blank" rel="noopener">Codepen</a></li>
                <li><a href="https://github.com/HerndonC" target="_blank" rel="noopener">GitHub</a></li>
                <li><a href="https://dev.to/herndonc" target="_blank"rel="noopener">Dev.to</a></li>
                <li><a href="https://www.linkedin.com/in/clinton-herndon-b5a338118/" target="_blank" rel="noopener">Linkedin</a></li>
            </ul>
        </div>
    </body>
</html>
