<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Id Da Mylae</title>
        <link rel="stylesheet" href="mylae.css">
        <script src="https://kit.fontawesome.com/7accd77c1b.js" crossorigin="anonymous"></script>
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    </head>
    <body>
        <nav>
            <div class="menu">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/recommendations">Recommendations</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <!-- <li><a href="/contact">Contact</a></li> -->
                </ul>
            </div>
        </nav>
        
        <div class="contactsup">
            <div class="contactbox">
            
                <h1>Contact me here</h1>

                <div class="contactsub">
                <form action="/form" method="post">
                <label for="fname">First name:
                    <input type="text" placeholder="John" id="fname" name="fname"></label>
                    <label for="lname">Last name:
                    <input type="text" placeholder="Doe" id="lname" name="lname"></label>
                    <label for="email">Email:
                    <input type="text" placeholder="johndoe@hotmail.com" id="email" name="email"></label>
                    <textarea placeholder="" id="message" ></textarea>
                    <input type="submit">
                </form>
            </div>
            <% if (serverResponse) {%>
            <script type="text/javascript">
                var response = '<%=serverResponse%>'
                const showAlert = function(message) {
                alert(message);
                }

                if(response) 
                {
                showAlert(response);
                }
                
            </script>
            <% }%>
            </div>
        </div>
        <div class="socnavbar">
            <ul class="icons">
                <li><a href="https://twitter.com/ClintonHerndon3" target="_blank" rel="noopener"><i class="fab fa-twitter"></i>Twitter</a></li>
                <li><a href="https://codepen.io/herndonc" target="_blank" rel="noopener"><i class="fab fa-codepen"></i>Codepen</a></li>
                <li><a href="https://github.com/HerndonC" target="_blank" rel="noopener"><i class="fab fa-github-square"></i>GitHub</a></li>
                <li><a href="https://dev.to/herndonc" target="_blank"rel="noopener"><i class="fab fa-dev"></i>Dev.to</a></li>
                <li><a href="https://www.linkedin.com/in/clinton-herndon-b5a338118/" target="_blank" rel="noopener"><i class="fab fa-linkedin-in"></i>Linkedin</a></li>
            </ul>
        </div>
    </body>
</html>
