<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Id Da Mylae</title>
        <link rel="stylesheet" href="mylae.css">
        <script src="https://kit.fontawesome.com/7accd77c1b.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/recommendations">Recommendations</a></li>
                <li><a href="/blog">Blog</a></li>
                <!-- <li><a href="/contact">Contact</a></li> -->
            </ul>
        </nav>
        <div class="card">
        <h1>Iddamylae</h1>
        <p>This is the cornerstone I set for the foundation of my development career. Persistence and ambition are my tools.</p>

        <section id="dog">
            <p>And this is a dog that I spoil too much</p>
            <img src="imgs/joniprofile.jpg" alt="Siberian Husky">

        
        </section>
        </div>
        <div class="socnavbar">
            <ul>
                <li><i class="fab fa-twitter"></i><a href="https://twitter.com/ClintonHerndon3" target="_blank" rel="noopener">Twitter</a></li>
                <li><i class="fab fa-codepen"></i><a href="https://codepen.io/herndonc" target="_blank" rel="noopener">Codepen</a></li>
                <li><i class="fab fa-github"></i><a href="https://github.com/HerndonC" target="_blank" rel="noopener">GitHub</a></li>
                <li><i class="fab fa-dev"></i><a href="https://dev.to/herndonc" target="_blank"rel="noopener">Dev.to</a></li>
                <li><i class="fab fa-linkedin-in"></i><a href="https://www.linkedin.com/in/clinton-herndon-b5a338118/" target="_blank" rel="noopener">Linkedin</a></li>
            </ul>
        </div>
    </body>
</html>
